<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>category</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">

    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css"
    rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/alladd.css">
  </head>
  <body>
        <!-- ....................................................NAVBAR.......................................................... -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
              <!-- Logo (Brand) -->
              <a class="navbar-brand" href="/">
                  <img src="/pictures/logo.png"  alt="Logo" width="150" height="60">
              </a>
              <div style="margin-left: auto !important;">
              <% if(typeof locals.session === 'undefined'){%>
                <a href="/login" ><button class="login1 btn btn mr-2"><i class="fa-solid fa-user fa-beat-fade" style="margin-right: auto;"></i>Login</button></a>
              <a href="/register" ><button class="login1 btn mr-2"><i class="fa-solid fa-user-plus" style="margin-right: quto;"></i>Register</button></a>
              <% }else{ %>
              
              <div class="btn-group">
                <button class="login1  btn mr-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 16px;">
                  Dashboard
                </button>
                <ul class="dropdown-menu" style="background-color: #000000; margin-left: -20px;">
                  <li><a href="/seller/giveAdvertisement" class="button dropdown-item" style="background-color: #000000;"><button class="login1 btn mr-2">Buyer Dashboard</button></a></li>
                  <% if(locals.type=="seller"){ %>
                    <li><a href="/seller/giveAdvertisement" class="button dropdown-item" style="background-color: #000000;"><button class="login1 btn mr-2">Seller Dashboard</button></a></li>
                  <% }else if(locals.type=="admin"){%>
                    <li><a href="/admin/advertisementVerify" class="button dropdown-item" style="background-color: #000000;"><button class="login1 btn mr-2">Admin Dashboard</button></a></li>
                  <% } %>
                  <li><a href="/logout" class="button dropdown-item" style="background-color: #000000;"><button class="login1 btn mr-2">Logout</button></a></li>
                </ul>
              </div>
              <% }%>
            </div>
          </div>
      </nav>
          <!-- ....................................................END NAVBAR.......................................................... -->

          <div class="content-container">
            <% if(locals.advType=="cattle") { %>
                <div class="navbarside">
                    <ul>
                                    <a href="/category/cattle"><li class="activelist"><i>All Cattles</i></li></a>
                                    <a href="/category/meat"><li class="passivelist"><i>All Meats</i></li></a>
                                    <a href="/category/horn"><li class="passivelist"><i>All Horns</i></li></a>
                                    <a href="/category/hoof"><li class="passivelist"><i>All Hoofs</i></li></a>
                                    <a href="/category/rawhide"><li class="passivelist"><i>All Rawhides</i></li></a>
                                    <a href="/category/cattleBid"><li class="passivelist"><i>All Auctions</i></li></a>
                    </ul>
                <% } else if (locals.advType=="meat") { %>
                    <div class="navbarside">
                        <ul>
                                    <a href="/category/cattle"><li class="passivelist"><i>All Cattles</i></li></a>
                                    <a href="/category/meat"><li class="activelist"><i>All Meats</i></li></a>
                                    <a href="/category/horn"><li class="passivelist"><i>All Horns</i></li></a>
                                    <a href="/category/hoof"><li class="passivelist"><i>All Hoofs</i></li></a>
                                    <a href="/category/rawhide"><li class="passivelist"><i>All Rawhides</i></li></a>
                                    <a href="/category/cattleBid"><li class="passivelist"><i>All Auctions</i></li></a>
                        </ul>
                  <% } else if (locals.advType=="horn") { %>
                    <div class="navbarside">
                        <ul>
                                    <a href="/category/cattle"><li class="passivelist"><i>All Cattles</i></li></a>
                                    <a href="/category/meat"><li class="passivelist"><i>All Meats</i></li></a>
                                    <a href="/category/horn"><li class="activelist"><i>All Horns</i></li></a>
                                    <a href="/category/hoof"><li class="passivelist"><i>All Hoofs</i></li></a>
                                    <a href="/category/rawhide"><li class="passivelist"><i>All Rawhides</i></li></a>
                                    <a href="/category/cattleBid"><li class="passivelist"><i>All Auctions</i></li></a>
                        </ul>
                    <% } else if (locals.advType=="hoof") { %>
                        <div class="navbarside">
                            <ul>
                                    <a href="/category/cattle"><li class="passivelist"><i>All Cattles</i></li></a>
                                    <a href="/category/meat"><li class="passivelist"><i>All Meats</i></li></a>
                                    <a href="/category/horn"><li class="passivelist"><i>All Horns</i></li></a>
                                    <a href="/category/hoof"><li class="activelist"><i>All Hoofs</i></li></a>
                                    <a href="/category/rawhide"><li class="passivelist"><i>All Rawhides</i></li></a>
                                    <a href="/category/cattleBid"><li class="passivelist"><i>All Auctions</i></li></a>
                            </ul>
                      <% } else if (locals.advType=="rawhide") { %>
                        <div class="navbarside">
                            <ul>
                                    <a href="/category/cattle"><li class="passivelist"><i>All Cattles</i></li></a>
                                    <a href="/category/meat"><li class="passivelist"><i>All Meats</i></li></a>
                                    <a href="/category/horn"><li class="passivelist"><i>All Horns</i></li></a>
                                    <a href="/category/hoof"><li class="passivelist"><i>All Hoofs</i></li></a>
                                    <a href="/category/rawhide"><li class="activelist"><i>All Rawhides</i></li></a>
                                    <a href="/category/cattleBid"><li class="passivelist"><i>All Auctions</i></li></a>
                            </ul>
                        <% } else if (locals.advType=="cattleBid") { %>
                            <div class="navbarside">
                                <ul>
                                    <a href="/category/cattle"><li class="passivelist"><i>All Cattles</i></li></a>
                                    <a href="/category/meat"><li class="passivelist"><i>All Meats</i></li></a>
                                    <a href="/category/horn"><li class="passivelist"><i>All Horns</i></li></a>
                                    <a href="/category/hoof"><li class="passivelist"><i>All Hoofs</i></li></a>
                                    <a href="/category/rawhide"><li class="passivelist"><i>All Rawhides</i></li></a>
                                    <a href="/category/cattleBid"><li class="activelist"><i>All Auctions</i></li></a>
                                </ul>
                          <% } %>
            </div>
            <div class="content">

                <% if(locals.advType=="cattle") { %>
                    <div class="accordion accordion-flush">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" id="myButton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <i>SORT OR FILTER ITEMS...</i>
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <form action="/homeByCategory/query/cattle" method="post">
                            <div class="accordion-body">
                              
                              <div class="row">
                                <div class="col-4">
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="price" id="price">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      <span>Use?</span>
                                    </label>
                                  </div>
                                  <div class="wrapper">
                                    <header><h6><i>Price(BDT)</i></h6></header>
                                    <div class="price-input1">
                                      <div class="field1">
                                        <span><i>Min</i></span>
                                        <input type="number" class="input-min1" name="minPrice" value="125000">
                                      </div>
                                      <div class="separator1">-</div>
                                      <div class="field1">
                                        <span><i>Max</i></span>
                                        <input type="number" class="input-max1" name="maxPrice" value="375000">
                                      </div>
                                    </div>
                                    <div class="slider1">
                                      <div class="progress1"></div>
                                    </div>
                                    <div class="range-input1">
                                      <input type="range" class="range-min1" min="0" max="500000" value="125000" step="1000">
                                      <input type="range" class="range-max1" min="0" max="500000" value="375000" step="1000">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-4">
                                  
                                  <div class="wrapper">
                                  </div>
                                </div> 
                                <div class="col-4">
                                  
                                  <div class="wrapper">
                                  </div>
                                </div>
                              </div>
        
                              <div class="row mt-5">
                                <div class="col-4 bar">
                                  <header><h6><i>Farms</i></h6></header>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="farmname" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      <span>Use?</span>
                                    </label>
                                  </div>
                                  <input id ="search" style="border: 1px solid" name ="search" type="search" placeholder="Search..." oninput="searchHandler()">
                                  <div class="results" style="color: #fff;">
                                  </div>
                                </div>
                        
                                <div class="col-4 bar">
                                  <header><h6><i>Seller name</i></h6></header>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sellername" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      <span>Use?</span>
                                    </label>
                                  </div>
                                  <input id ="search2" style="border: 1px solid" name ="search2" type="search" placeholder="Search..." oninput="searchHandler2()">
                                  <div class="results2" style="color: #fff;">
                                  </div>
                                </div>
        
                                <div class="col-4">
                                  <h6>Sort by -</h6>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" value="default" name="sort" id="flexRadioDefault1" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      <span>Default</span>
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" value="priceHighLow" name="sort" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      <span>Price [High -> Low]</span>
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" value="priceLowHigh" name="sort" id="flexRadioDefault3">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      <span>Price [Low -> High]</span>
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" value="default" name="sort2" id="flexRadioDefault1" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      <span>Default</span>
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" value="mostRecent" name="sort2" id="flexRadioDefault4">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      <span>Most recent</span>
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" value="leastRecent" name="sort2" id="flexRadioDefault5">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      <span>Least recent</span>
                                    </label>
                                  </div>
                                </div>
        
                              </div>
                              <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-3">Apply</button>
                              </div>
                            </div>
                          </form>
                          </div>
                        </div>
                      </div>
                    <% } else if (locals.advType=="meat") { %>
                      <div class="accordion accordion-flush">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" id="myButton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <i>SORT OR FILTER ITEMS...</i>
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <form action="/homeByCategory/query/meat" method="post">
                            <div class="accordion-body">
                              
                              <div class="row">
                                <div class="col-4">
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="price" id="price">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      <span>Use?</span>
                                    </label>
                                  </div>
                                  <div class="wrapper">
                                    <header><h6><i>Price per kg(BDT)</i></h6></header>
                                    <div class="price-input1">
                                      <div class="field1">
                                        <span><i>Min</i></span>
                                        <input type="number" class="input-min1" name="minPrice" value="125000">
                                      </div>
                                      <div class="separator1">-</div>
                                      <div class="field1">
                                        <span><i>Max</i></span>
                                        <input type="number" class="input-max1" name="maxPrice" value="375000">
                                      </div>
                                    </div>
                                    <div class="slider1">
                                      <div class="progress1"></div>
                                    </div>
                                    <div class="range-input1">
                                      <input type="range" class="range-min1" min="0" max="500000" value="125000" step="1000">
                                      <input type="range" class="range-max1" min="0" max="500000" value="375000" step="1000">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-4">
                                  
                                  <div class="wrapper">
                                  </div>
                                </div> 
                                <div class="col-4">
                                  
                                  <div class="wrapper">
                                  </div>
                                </div>
                              </div>
        
                              <div class="row mt-5">
                                <div class="col-4 bar">
                                  <header><h6><i>Subtype</i></h6></header>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="subtype" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      <span>Use?</span>
                                    </label>
                                  </div>
                                  <input id ="search" style="border: 1px solid" name ="search" type="search" placeholder="Search..." oninput="searchHandler()">
                                  <div class="results" style="color: #fff;">
                                  </div>
                                </div>
                        
                                <div class="col-4 bar">
                                  <header><h6><i>Seller name</i></h6></header>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sellername" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      <span>Use?</span>
                                    </label>
                                  </div>
                                  <input id ="search2" style="border: 1px solid" name ="search2" type="search" placeholder="Search..." oninput="searchHandler2()">
                                  <div class="results2" style="color: #fff;">
                                  </div>
                                </div>
        
                                <div class="col-4">
                                  <h6>Sort by -</h6>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" value="default" name="sort" id="flexRadioDefault1" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      <span>Default</span>
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" value="priceHighLow" name="sort" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      <span>Price [High -> Low]</span>
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" value="priceLowHigh" name="sort" id="flexRadioDefault3">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      <span>Price [Low -> High]</span>
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" value="default" name="sort2" id="flexRadioDefault1" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      <span>Default</span>
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" value="mostRecent" name="sort2" id="flexRadioDefault4">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      <span>Most recent</span>
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" value="leastRecent" name="sort2" id="flexRadioDefault5">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      <span>Least recent</span>
                                    </label>
                                  </div>
                                </div>
        
                              </div>
                              <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-3">Apply</button>
                              </div>
                            </div>
                          </form>
                          </div>
                        </div>
                      </div>
                      <% } else if (locals.advType=="horn") { %>
                        <div class="accordion accordion-flush">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                              <button class="accordion-button collapsed" id="myButton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i>SORT OR FILTER ITEMS...</i>
                              </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                              <form action="/homeByCategory/query/horn" method="post">
                              <div class="accordion-body">
                                
                                <div class="row">
                                  <div class="col-4">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="price" id="price">
                                      <label class="form-check-label" for="flexRadioDefault1">
                                        <span>Use?</span>
                                      </label>
                                    </div>
                                    <div class="wrapper">
                                      <header><h6><i>Price per piece(BDT)</i></h6></header>
                                      <div class="price-input1">
                                        <div class="field1">
                                          <span><i>Min</i></span>
                                          <input type="number" class="input-min1" name="minPrice" value="125000">
                                        </div>
                                        <div class="separator1">-</div>
                                        <div class="field1">
                                          <span><i>Max</i></span>
                                          <input type="number" class="input-max1" name="maxPrice" value="375000">
                                        </div>
                                      </div>
                                      <div class="slider1">
                                        <div class="progress1"></div>
                                      </div>
                                      <div class="range-input1">
                                        <input type="range" class="range-min1" min="0" max="500000" value="125000" step="1000">
                                        <input type="range" class="range-max1" min="0" max="500000" value="375000" step="1000">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-4">
                                    
                                    <div class="wrapper">
                                    </div>
                                  </div> 
                                  <div class="col-4">
                                    
                                    <div class="wrapper">
                                    </div>
                                  </div>
                                </div>
          
                                <div class="row mt-5">
                                  
                          
                                  <div class="col-4 bar">
                                    <header><h6><i>Seller name</i></h6></header>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="sellername" id="flexRadioDefault2">
                                      <label class="form-check-label" for="flexRadioDefault1">
                                        <span>Use?</span>
                                      </label>
                                    </div>
                                    <input id ="search2" style="border: 1px solid" name ="search2" type="search" placeholder="Search..." oninput="searchHandler2()">
                                    <div class="results2" style="color: #fff;">
                                    </div>
                                  </div>
          
                                  <div class="col-4">
                                    <h6>Sort by -</h6>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" value="default" name="sort" id="flexRadioDefault1" checked>
                                      <label class="form-check-label" for="flexRadioDefault1">
                                        <span>Default</span>
                                      </label>
                                    </div>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" value="priceHighLow" name="sort" id="flexRadioDefault2">
                                      <label class="form-check-label" for="flexRadioDefault1">
                                        <span>Price [High -> Low]</span>
                                      </label>
                                    </div>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" value="priceLowHigh" name="sort" id="flexRadioDefault3">
                                      <label class="form-check-label" for="flexRadioDefault1">
                                        <span>Price [Low -> High]</span>
                                      </label>
                                    </div>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" value="default" name="sort2" id="flexRadioDefault1" checked>
                                      <label class="form-check-label" for="flexRadioDefault1">
                                        <span>Default</span>
                                      </label>
                                    </div>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" value="mostRecent" name="sort2" id="flexRadioDefault4">
                                      <label class="form-check-label" for="flexRadioDefault1">
                                        <span>Most recent</span>
                                      </label>
                                    </div>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" value="leastRecent" name="sort2" id="flexRadioDefault5">
                                      <label class="form-check-label" for="flexRadioDefault1">
                                        <span>Least recent</span>
                                      </label>
                                    </div>
                                  </div>
          
                                </div>
                                <div class="col-auto">
                                  <button type="submit" class="btn btn-primary mb-3">Apply</button>
                                </div>
                              </div>
                            </form>
                            </div>
                          </div>
                        </div>
                        <% } else if (locals.advType=="hoof") { %>
                          <div class="accordion accordion-flush">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" id="myButton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  <i>SORT OR FILTER ITEMS...</i>
                                </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <form action="/homeByCategory/query/hoof" method="post">
                                <div class="accordion-body">
                                  
                                  <div class="row">
                                    <div class="col-4">
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="price" id="price">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          <span>Use?</span>
                                        </label>
                                      </div>
                                      <div class="wrapper">
                                        <header><h6><i>Price per piece(BDT)</i></h6></header>
                                        <div class="price-input1">
                                          <div class="field1">
                                            <span><i>Min</i></span>
                                            <input type="number" class="input-min1" name="minPrice" value="125000">
                                          </div>
                                          <div class="separator1">-</div>
                                          <div class="field1">
                                            <span><i>Max</i></span>
                                            <input type="number" class="input-max1" name="maxPrice" value="375000">
                                          </div>
                                        </div>
                                        <div class="slider1">
                                          <div class="progress1"></div>
                                        </div>
                                        <div class="range-input1">
                                          <input type="range" class="range-min1" min="0" max="500000" value="125000" step="1000">
                                          <input type="range" class="range-max1" min="0" max="500000" value="375000" step="1000">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-4">
                                      
                                      <div class="wrapper">
                                      </div>
                                    </div> 
                                    <div class="col-4">
                                      
                                      <div class="wrapper">
                                      </div>
                                    </div>
                                  </div>
            
                                  <div class="row mt-5">
                                    
                            
                                    <div class="col-4 bar">
                                      <header><h6><i>Seller name</i></h6></header>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sellername" id="flexRadioDefault2">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          <span>Use?</span>
                                        </label>
                                      </div>
                                      <input id ="search2" style="border: 1px solid" name ="search2" type="search" placeholder="Search..." oninput="searchHandler2()">
                                      <div class="results2" style="color: #fff;">
                                      </div>
                                    </div>
            
                                    <div class="col-4">
                                      <h6>Sort by -</h6>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" value="default" name="sort" id="flexRadioDefault1" checked>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          <span>Default</span>
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" value="priceHighLow" name="sort" id="flexRadioDefault2">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          <span>Price [High -> Low]</span>
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" value="priceLowHigh" name="sort" id="flexRadioDefault3">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          <span>Price [Low -> High]</span>
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" value="default" name="sort2" id="flexRadioDefault1" checked>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          <span>Default</span>
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" value="mostRecent" name="sort2" id="flexRadioDefault4">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          <span>Most recent</span>
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" value="leastRecent" name="sort2" id="flexRadioDefault5">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          <span>Least recent</span>
                                        </label>
                                      </div>
                                    </div>
            
                                  </div>
                                  <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3">Apply</button>
                                  </div>
                                </div>
                              </form>
                              </div>
                            </div>
                          </div>
                          <% } else if (locals.advType=="rawhide") { %>
                            <div class="accordion accordion-flush">
                              <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                  <button class="accordion-button collapsed" id="myButton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <i>SORT OR FILTER ITEMS...</i>
                                  </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                  <form action="/homeByCategory/query/rawhide" method="post">
                                  <div class="accordion-body">
                                    
                                    <div class="row">
                                      <div class="col-4">
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="price" id="price">
                                          <label class="form-check-label" for="flexRadioDefault1">
                                            <span>Use?</span>
                                          </label>
                                        </div>
                                        <div class="wrapper">
                                          <header><h6><i>Price per piece(BDT)</i></h6></header>
                                          <div class="price-input1">
                                            <div class="field1">
                                              <span><i>Min</i></span>
                                              <input type="number" class="input-min1" name="minPrice" value="125000">
                                            </div>
                                            <div class="separator1">-</div>
                                            <div class="field1">
                                              <span><i>Max</i></span>
                                              <input type="number" class="input-max1" name="maxPrice" value="375000">
                                            </div>
                                          </div>
                                          <div class="slider1">
                                            <div class="progress1"></div>
                                          </div>
                                          <div class="range-input1">
                                            <input type="range" class="range-min1" min="0" max="500000" value="125000" step="1000">
                                            <input type="range" class="range-max1" min="0" max="500000" value="375000" step="1000">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-4">
                                        
                                        <div class="wrapper">
                                        </div>
                                      </div> 
                                      <div class="col-4">
                                        
                                        <div class="wrapper">
                                        </div>
                                      </div>
                                    </div>
              
                                    <div class="row mt-5">
                                      
                              
                                      <div class="col-4 bar">
                                        <header><h6><i>Seller name</i></h6></header>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="sellername" id="flexRadioDefault2">
                                          <label class="form-check-label" for="flexRadioDefault1">
                                            <span>Use?</span>
                                          </label>
                                        </div>
                                        <input id ="search2" style="border: 1px solid" name ="search2" type="search" placeholder="Search..." oninput="searchHandler2()">
                                        <div class="results2" style="color: #fff;">
                                        </div>
                                      </div>
              
                                      <div class="col-4">
                                        <h6>Sort by -</h6>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" value="default" name="sort" id="flexRadioDefault1" checked>
                                          <label class="form-check-label" for="flexRadioDefault1">
                                            <span>Default</span>
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" value="priceHighLow" name="sort" id="flexRadioDefault2">
                                          <label class="form-check-label" for="flexRadioDefault1">
                                            <span>Price [High -> Low]</span>
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" value="priceLowHigh" name="sort" id="flexRadioDefault3">
                                          <label class="form-check-label" for="flexRadioDefault1">
                                            <span>Price [Low -> High]</span>
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" value="default" name="sort2" id="flexRadioDefault1" checked>
                                          <label class="form-check-label" for="flexRadioDefault1">
                                            <span>Default</span>
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" value="mostRecent" name="sort2" id="flexRadioDefault4">
                                          <label class="form-check-label" for="flexRadioDefault1">
                                            <span>Most recent</span>
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" value="leastRecent" name="sort2" id="flexRadioDefault5">
                                          <label class="form-check-label" for="flexRadioDefault1">
                                            <span>Least recent</span>
                                          </label>
                                        </div>
                                      </div>
              
                                    </div>
                                    <div class="col-auto">
                                      <button type="submit" class="btn btn-primary mb-3">Apply</button>
                                    </div>
                                  </div>
                                </form>
                                </div>
                              </div>
                            </div>
                                <% }else if(locals.advType=="cattleBid") { %>
                                  <div class="accordion accordion-flush">
                                      <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                          <button class="accordion-button collapsed" id="myButton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <i>SORT OR FILTER ITEMS...</i>
                                          </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                          <form action="/homeByCategory/query/cattle" method="post">
                                          <div class="accordion-body">
                                            
                                            <div class="row">
                                              <div class="col-4">
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" name="price" id="price">
                                                  <label class="form-check-label" for="flexRadioDefault1">
                                                    <span>Use?</span>
                                                  </label>
                                                </div>
                                                <div class="wrapper">
                                                  <header><h6><i>Price(BDT)</i></h6></header>
                                                  <div class="price-input1">
                                                    <div class="field1">
                                                      <span><i>Min</i></span>
                                                      <input type="number" class="input-min1" name="minPrice" value="125000">
                                                    </div>
                                                    <div class="separator1">-</div>
                                                    <div class="field1">
                                                      <span><i>Max</i></span>
                                                      <input type="number" class="input-max1" name="maxPrice" value="375000">
                                                    </div>
                                                  </div>
                                                  <div class="slider1">
                                                    <div class="progress1"></div>
                                                  </div>
                                                  <div class="range-input1">
                                                    <input type="range" class="range-min1" min="0" max="500000" value="125000" step="1000">
                                                    <input type="range" class="range-max1" min="0" max="500000" value="375000" step="1000">
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-4">
                                                
                                                <div class="wrapper">
                                                </div>
                                              </div> 
                                              <div class="col-4">
                                                
                                                <div class="wrapper">
                                                </div>
                                              </div>
                                            </div>
                      
                                            <div class="row mt-5">
                                              <div class="col-4 bar">
                                                <header><h6><i>Farms</i></h6></header>
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" name="farmname" id="flexRadioDefault2">
                                                  <label class="form-check-label" for="flexRadioDefault1">
                                                    <span>Use?</span>
                                                  </label>
                                                </div>
                                                <input id ="search" style="border: 1px solid" name ="search" type="search" placeholder="Search..." oninput="searchHandler()">
                                                <div class="results" style="color: #fff;">
                                                </div>
                                              </div>
                                      
                                              <div class="col-4 bar">
                                                <header><h6><i>Seller name</i></h6></header>
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" name="sellername" id="flexRadioDefault2">
                                                  <label class="form-check-label" for="flexRadioDefault1">
                                                    <span>Use?</span>
                                                  </label>
                                                </div>
                                                <input id ="search2" style="border: 1px solid" name ="search2" type="search" placeholder="Search..." oninput="searchHandler2()">
                                                <div class="results2" style="color: #fff;">
                                                </div>
                                              </div>
                      
                                              <div class="col-4">
                                                <h6>Sort by -</h6>
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" value="default" name="sort" id="flexRadioDefault1" checked>
                                                  <label class="form-check-label" for="flexRadioDefault1">
                                                    <span>Default</span>
                                                  </label>
                                                </div>
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" value="priceHighLow" name="sort" id="flexRadioDefault2">
                                                  <label class="form-check-label" for="flexRadioDefault1">
                                                    <span>Price [High -> Low]</span>
                                                  </label>
                                                </div>
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" value="priceLowHigh" name="sort" id="flexRadioDefault3">
                                                  <label class="form-check-label" for="flexRadioDefault1">
                                                    <span>Price [Low -> High]</span>
                                                  </label>
                                                </div>
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" value="default" name="sort2" id="flexRadioDefault1" checked>
                                                  <label class="form-check-label" for="flexRadioDefault1">
                                                    <span>Default</span>
                                                  </label>
                                                </div>
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" value="mostRecent" name="sort2" id="flexRadioDefault4">
                                                  <label class="form-check-label" for="flexRadioDefault1">
                                                    <span>Most recent</span>
                                                  </label>
                                                </div>
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" value="leastRecent" name="sort2" id="flexRadioDefault5">
                                                  <label class="form-check-label" for="flexRadioDefault1">
                                                    <span>Least recent</span>
                                                  </label>
                                                </div>
                                              </div>
                      
                                            </div>
                                            <div class="col-auto">
                                              <button type="submit" class="btn btn-primary mb-3">Apply</button>
                                            </div>
                                          </div>
                                        </form>
                                        </div>
                                      </div>
                                    </div>
                                  <% } %>

              

                <!-- Your webpage content goes here -->
                <div class="alladd">
                    <% if(locals.advType=="cattle") { %>
                        <h1>Welcome to All Cattle Page</h1>
                        <% } else if (locals.advType=="meat") { %>
                            <h1>Welcome to All Meat Page</h1>
                          <% } else if (locals.advType=="horn") { %>
                            <h1>Welcome to All Horn Page</h1>
                            <% } else if (locals.advType=="hoof") { %>
                                <h1>Welcome to All Hoof Page</h1>
                              <% } else if (locals.advType=="rawhide") { %>
                                <h1>Welcome to All Rawhide Page</h1>
                                <% } else if (locals.advType=="cattleBid") { %>
                                    <h1>Welcome to All Auction Page</h1>
                                  <% } %>

                  <div id="all" class="card-wrap" data-aos="fade-up">
              
                    <div class="card-container d-flex flex-row flex-wrap">
                        <% if(locals.advType=="cattle") { %>
                            <% for(let i = 0; i<locals.allAdvertisements.length; i++){ %>
                              <a href="/singleAdvertisement/buyer/<%= locals.allAdvertisements[i].advertise_id%>" class="cardLink" style="text-decoration: none">
                                <div class="card">
                                  <img src="<%=locals.allAdvertisements[i].picture_front_view_url.substring(8) %>" class="card-img-top" alt="..." style="border-radius: inherit;width: 325px; height: 200px;">
                                  <div class="card-body">
                                    <h5 class="card-title">Fixed price: <%=locals.allAdvertisements[i].price%> BDT</h5>
                                    <p>Farm name: <%=locals.allAdvertisements[i].farm_name%><br>
                                    Quantity: <%=locals.allAdvertisements[i].quantity%>
                                    <% if(locals.allAdvertisements[i].status=="unfinished"){ %>
                                      <span style="color:green"><br>Status: Available</span>
                                    <%}else{%>
                                      <span style="color:red"><br>Status: Not available</span>
                                    <% } %>
                                  </p>
                                  </div>
                                  <div class="card-footer">
                                    <small class="text-muted">Advertised at: <%=locals.allAdvertisements[i].created_at%></small>
                                  </div>
                                </div>
                              </a>
                                <%} %>
                            <% } else if (locals.advType=="meat") { %>
                              <% for(let i = 0; i<locals.allAdvertisements.length; i++){ %>
                                <a href="/singleAdvertisement/buyer/<%= locals.allAdvertisements[i].advertise_id%>" class="cardLink" style="text-decoration: none">
                                  <div class="card">
                                    <img src="<%=locals.allAdvertisements[i].picture_url.substring(8) %>" class="card-img-top" alt="..." style="border-radius: inherit; width: 325px; height: 200px;">
                                    <div class="card-body">
                                      <h5 class="card-title">Selling price per kg: <%=locals.allAdvertisements[i].price_per_kg%> BDT</h5>
                                      <p>Type: <%=locals.allAdvertisements[i].type%>
                                        <% if(locals.allAdvertisements[i].status=="unfinished"){ %>
                                          <span style="color:green"><br>Status: Available</span>
                                          <br>Quantity available: <%=locals.allAdvertisements[i].quantity%>
                                        <%}else{%>
                                          <span style="color:red"><br>Status: Not available</span>
                                        <% } %>
                                      </p>
                                    </div>
                                    <div class="card-footer">
                                      <small class="text-muted">Advertised at: <%=locals.allAdvertisements[i].created_at%></small>
                                    </div>
                                  </div>
                                </a>    
                                <%} %>
                              <% } else if (locals.advType=="horn") { %>
                              <% for(let i = 0; i<locals.allAdvertisements.length; i++){ %>
                                <a href="/singleAdvertisement/buyer/<%= locals.allAdvertisements[i].advertise_id%>" class="cardLink" style="text-decoration: none">
                                  <div class="card">
                                    <img src="<%=locals.allAdvertisements[i].picture_url.substring(8) %>" class="card-img-top" alt="..." style="border-radius: inherit;width: 325px; height: 200px;">
                                    <div class="card-body">
                                      <h5 class="card-title">Selling price per piece: <%=locals.allAdvertisements[i].selling_price_per_piece%> BDT</h5>
                                      Storage date: <%=locals.allAdvertisements[i].date_of_storage%>
                                      <% if(locals.allAdvertisements[i].status=="unfinished"){ %>
                                        <span style="color:green"><br>Status: Available</span>
                                        <br>Quantity available: <%=locals.allAdvertisements[i].quantity%>
                                      <%}else{%>
                                        <span style="color:red"><br>Status: Not available</span>
                                      <% } %>
                                    </div>
                                    <div class="card-footer">
                                      <small class="text-muted">Advertised at: <%=locals.allAdvertisements[i].created_at%></small>
                                    </div>
                                  </div>
                                </a>
                                <%} %>
                                <% } else if (locals.advType=="hoof") { %>
                              <% for(let i = 0; i<locals.allAdvertisements.length; i++){ %>
                                <a href="/singleAdvertisement/buyer/<%= locals.allAdvertisements[i].advertise_id%>" class="cardLink" style="text-decoration: none">
                                  <div class="card">
                                    <img src="<%=locals.allAdvertisements[i].picture_url.substring(8) %>" class="card-img-top" alt="..." style="border-radius: inherit; width: 325px; height: 200px;">
                                    <div class="card-body">
                                      <h5 class="card-title">Selling price per piece: <%=locals.allAdvertisements[i].selling_price_per_piece%> BDT</h5>
                                      Storage date: <%=locals.allAdvertisements[i].date_of_storage%>
                                      <% if(locals.allAdvertisements[i].status=="unfinished"){ %>
                                        <span style="color:green"><br>Status: Available</span>
                                        <br>Quantity available: <%=locals.allAdvertisements[i].quantity%>
                                      <%}else{%>
                                        <span style="color:red"><br>Status: Not available</span>
                                      <% } %>
                                    </div>
                                    <div class="card-footer">
                                      <small class="text-muted">Advertised at: <%=locals.allAdvertisements[i].created_at%></small>
                                    </div>
                                  </div>
                                </a>
                                <%} %>
                                  <% } else if (locals.advType=="rawhide") { %>
                              <% for(let i = 0; i<locals.allAdvertisements.length; i++){ %>
                                <a href="/singleAdvertisement/buyer/<%= locals.allAdvertisements[i].advertise_id%>" class="cardLink" style="text-decoration: none">
                                  <div class="card">
                                    <img src="<%=locals.allAdvertisements[i].picture_url.substring(8) %>" class="card-img-top" alt="..." style="border-radius: inherit;width: 325px; height: 200px;">
                                    <div class="card-body">
                                      <h5 class="card-title">Selling price per piece: <%=locals.allAdvertisements[i].selling_price_per_piece%> BDT</h5>
                                      <p>Preservation style: <%=locals.allAdvertisements[i].preservation_style%>
                                        <% if(locals.allAdvertisements[i].status=="unfinished"){ %>
                                          <span style="color:green"><br>Status: Available</span>
                                          <br>Quantity available: <%=locals.allAdvertisements[i].quantity%>
                                        <%}else{%>
                                          <span style="color:red"><br>Status: Not available</span>
                                        <% } %>
                                      </p>
                                    </div>
                                    <div class="card-footer">
                                      <small class="text-muted">Advertised at: <%=locals.allAdvertisements[i].created_at%></small>
                                    </div>
                                  </div>
                                </a> 
                                <%} %>
                                    <% } else if (locals.advType=="cattleBid") { %>
                              <% for(let i = 0; i<locals.allAdvertisements.length; i++){ %>
                                <a href="/singleAdvertisement/buyer/<%= locals.allAdvertisements[i].advertise_id%>" class="cardLink" style="text-decoration: none">
                                  <div class="card">
                                    <img src="<%=locals.allAdvertisements[i].picture_front_view_url.substring(8) %>" class="card-img-top" alt="..." style="border-radius: inherit;width: 325px; height: 200px;">
                                    <div class="card-body">
                                      <h5 class="card-title">Minimum bid price: <%=locals.allAdvertisements[i].price%> BDT</h5>
                                      <p>Farm name: <%=locals.allAdvertisements[i].farm_name%></p>
                                      <p>Quantity: <%=locals.allAdvertisements[i].quantity%>
                                        <% if(locals.allAdvertisements[i].status=="unfinished"){ %>
                                          <span style="color:green"><br>Status: Available</span>
                                        <%}else{%>
                                          <span style="color:red"><br>Status: Not available</span>
                                        <% } %>
                                      </p>
                                    </div>
                                    <div class="card-footer">
                                      <small class="text-muted">Advertised at: <%=locals.allAdvertisements[i].created_at%></small>
                                    </div>
                                  </div>
                                </a>
                                <%} %>
                          <% } %>
                                        
                    </div>
                  </div>                    
                  </div>
                </div>
              </div>
          </div>
</div>

              <!-- ....................................................FOOTER.......................................................... -->
    <div class="footer">
        <footer class="bg-dark text-center text-white">
          <!-- Grid container -->
          <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
              <!-- Facebook -->
              <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
                ><i class="fab fa-facebook-f"></i
              ></a>
  
              <!-- Twitter -->
              <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
                ><i class="fab fa-twitter"></i
              ></a>
  
              <!-- Google -->
              <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
                ><i class="fab fa-google"></i
              ></a>
  
              <!-- Instagram -->
              <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
                ><i class="fab fa-instagram"></i
              ></a>
  
              <!-- Linkedin -->
              <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
                ><i class="fab fa-linkedin-in"></i
              ></a>
  
              <!-- Github -->
              <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
                ><i class="fab fa-github"></i
              ></a>
            </section>
            <!-- Section: Social media -->
          </div>
          <!-- Grid container -->
  
          <!-- Copyright -->
          <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2)"
          >
             2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/"
              >MooMarket.com</a
            >
          </div>
          <!-- Copyright -->
        </footer>
      </div>
      <!-- ....................................................END FOOTER.......................................................... -->


    <script>
      const button = document.getElementById('myButton');
      let isClicked = false;

      button.addEventListener('click', function() {
          if (isClicked) {
              // Toggle off the 'clicked' class when the button is clicked again
              button.classList.remove('clicked');
          } else {
              // Toggle on the 'clicked' class when the button is initially clicked
              button.classList.add('clicked');
          }
          
          // Update the clicked state
          isClicked = !isClicked;
      });

      const rangeInput = document.querySelectorAll(".range-input1 input"),
      priceInput = document.querySelectorAll(".price-input1 input"),
      range = document.querySelector(".slider1 .progress1");
      let priceGap = 50000;

      priceInput.forEach(input =>{
          input.addEventListener("input", e =>{
              let minPrice = parseInt(priceInput[0].value),
              maxPrice = parseInt(priceInput[1].value);
              
              if((maxPrice - minPrice >= priceGap) && maxPrice <= rangeInput[1].max){
                  if(e.target.className === "input-min1"){
                      rangeInput[0].value = minPrice;
                      range.style.left = ((minPrice / rangeInput[0].max) * 100) + "%";
                  }else{
                      rangeInput[1].value = maxPrice;
                      range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
                  }
              }
          });
      });

      rangeInput.forEach(input =>{
          input.addEventListener("input", e =>{
              let minVal = parseInt(rangeInput[0].value),
              maxVal = parseInt(rangeInput[1].value);

              if((maxVal - minVal) < priceGap){
                  if(e.target.className === "range-min1"){
                      rangeInput[0].value = maxVal - priceGap
                  }else{
                      rangeInput[1].value = minVal + priceGap;
                  }
              }else{
                  priceInput[0].value = minVal;
                  priceInput[1].value = maxVal;
                  range.style.left = ((minVal / rangeInput[0].max) * 100) + "%";
                  range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
              }
          });
      });



      const rangeInput1 = document.querySelectorAll(".range-input2 input"),
      weightInput = document.querySelectorAll(".price-input2 input"),
      range1 = document.querySelector(".slider2 .progress2");
      let weightGap = 100;

      weightInput.forEach(input =>{
          input.addEventListener("input", e =>{
              let minWeight = parseInt(weightInput[0].value),
              maxWeight = parseInt(weightInput[1].value);
              
              if((maxWeight - minWeight >= weightGap) && maxWeight <= rangeInput1[1].max){
                  if(e.target.className === "input-min2"){
                      rangeInput1[0].value = minWeight;
                      range1.style.left = ((minWeight / rangeInput1[0].max) * 100) + "%";
                  }else{
                      rangeInput1[1].value = maxWeight;
                      range1.style.right = 100 - (maxWeight / rangeInput1[1].max) * 100 + "%";
                  }
              }
          });
      });

      rangeInput1.forEach(input =>{
          input.addEventListener("input", e =>{
              let minVal = parseInt(rangeInput1[0].value),
              maxVal = parseInt(rangeInput1[1].value);

              if((maxVal - minVal) < weightGap){
                  if(e.target.className === "range-min2"){
                    rangeInput1[0].value = maxVal - weightGap
                  }else{
                    rangeInput1[1].value = minVal + weightGap;
                  }
              }else{
                  weightInput[0].value = minVal;
                  weightInput[1].value = maxVal;
                  range1.style.left = ((minVal / rangeInput1[0].max) * 100) + "%";
                  range1.style.right = 100 - (maxVal / rangeInput1[1].max) * 100 + "%";
              }
          });
      });

      const rangeInput2 = document.querySelectorAll(".range-input3 input"),
      ageInput = document.querySelectorAll(".price-input3 input"),
      range2 = document.querySelector(".slider3 .progress3");
      let ageGap= 4;

      ageInput.forEach(input =>{
          input.addEventListener("input", e =>{
              let minAge = parseInt(ageInput[0].value),
              maxAge = parseInt(ageInput[1].value);
              
              if((maxAge - minAge >= ageGap) && maxAge <= rangeInput2[1].max){
                  if(e.target.className === "input-min3"){
                      rangeInput2[0].value = minAge;
                      range2.style.left = ((minAge / rangeInput2[0].max) * 100) + "%";
                  }else{
                      rangeInput2[1].value = maxAge;
                      range2.style.right = 100 - (maxAge / rangeInput2[1].max) * 100 + "%";
                  }
              }
          });
      });

      rangeInput2.forEach(input =>{
          input.addEventListener("input", e =>{
              let minVal = parseInt(rangeInput2[0].value),
              maxVal = parseInt(rangeInput2[1].value);

              if((maxVal - minVal) < ageGap){
                  if(e.target.className === "range-min3"){
                    rangeInput2[0].value = maxVal - ageGap
                  }else{
                    rangeInput2[1].value = minVal + ageGap;
                  }
              }else{
                  ageInput[0].value = minVal;
                  ageInput[1].value = maxVal;
                  range2.style.left = ((minVal / rangeInput2[0].max) * 100) + "%";
                  range2.style.right = 100 - (maxVal / rangeInput2[1].max) * 100 + "%";
              }
          });
      });
    </script>  
    <script src="/scripts/homeByCategory.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>

    <!-- MDB -->
    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"
    ></script>

    <script src="https://kit.fontawesome.com/328bfce71b.js" crossorigin="anonymous"></script>
  </body>
</html>
